* {
  color: red;
  font-size: 24px;
}

.heading {
  color: blue;
}

p.heading {
  color: yellow;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.joinBtn {
  width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: bisque;
}

.joinBtn:active {
  color: red;
}
