* {
  color: red;
  font-size: 24px;
}

.heading {
  color: blue;
}

p.heading {
  color: yellow;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.joinBtn {
  width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: bisque;
}

.joinBtn:active {
  color: red;
}

div {
  width: 100px;
  height: 100px;
  color: black;
  background-color: red;
  padding: 10px;
}

.box1 {
  background-color: azure;
  border: 10px solid blue;
  padding: 20px;
}

.box2 {
  background-color: black;
  padding: 20px;
  border: 10px solid gold;
  margin-left: 160px;
}

.box3 {
  background-color: blueviolet;
  padding: 20px;
  border: 10px solid gray;
  margin-left: 320px;
}
